<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="user" class="d-flex flex-column w-100">
    <h1>User infarmation-page</h1>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page">About user</a>
      </li>
    </ul>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Last name</th>
          <th scope="col">age</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="id"></td>
          <td class="name"></td>
          <td class="lastName"></td>
          <td class="age"></td>
          <td>
            <span style="margin-left: 5px;" th:each="authority : ${#authentication.getAuthorities()}"
              th:if="${authority.getAuthority().startsWith('ROLE_')}"
              th:text="${authority.getAuthority().replaceFirst('ROLE_', '')}"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>