<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div style="margin-left: 5%;" th:fragment="user">
    <h1>User infarmation-page</h1>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" th:href="@{/user}">About user</a>
      </li>
    </ul>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Last name</th>
          <th scope="col">age</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" th:text="${user.id}"></th>
          <td th:text="${user.name}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.age}"></td>
          <td th:text="${user.roles}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>