<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">

        </script>
    <script th:inline="javascript">
        const headers = {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        }
        // this for back
        // const userEntity = {
        //     id: null,
        //     name: null,
        //     lastName: null,
        //     age: null,
        //     password: null,
        //     roles: [],
        // }

        function fetchAllUsers() {
            fetch("/admin/users").then(res => res.json()).then(res => {
                const tbody = document.getElementById("users-table-body")
                tbody.innerHTML = "";
                for (let i = 0; i < res.length; i++) {
                    const content = `<tr>
                    <th scope="row">${res[i].id}</th>
                    <td>${res[i].name}</td>
                    <td>${res[i].lastName}</td>
                    <td>${res[i].age}</td>
                    <td>
                     ${res[i].roles.map(role => `<span style="margin-left: 5px;">${role.name.replace("ROLE_", "")}</span>`)}
                    </td>
                    <td>
                     <button data-user=${JSON.stringify(res[i])} class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#editModalCenter"
                        onclick=getCurrentUser()>
                        Edit
                     </button>
                    </td>
                    <td>
                        <button data-user=${JSON.stringify(res[i])} class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModalCenter"
                        onclick=deleteCurrentUser()>Delete</button>
                    </td>
                    </tr>`
                    tbody.innerHTML += content
                }
            })
        }

        function fetchCurrentUserData() {
            fetch("/user").then(res => res.json()).then(data => {
                const allTd = document.querySelectorAll("td");
                for (let i = 0; i < allTd.length; i++) {
                    if (allTd[i].classList != 0) {
                        const className = allTd[i].classList[0];
                        allTd[i].innerText = data[className];
                    }
                }
            })
        }

        function getCurrentUser() {
            const user = JSON.parse(this.event.currentTarget.getAttribute("data-user"))
            const myModal = document.getElementById("editModalCenter");
            myModal.addEventListener("shown.bs.modal", function (event) {
                const allInputs = myModal.querySelectorAll("input");
                for (let i = 1; i < allInputs.length; i++) {
                    const id = allInputs[i].getAttribute("id");
                    if (id.includes("ROLE")) {
                        allInputs[i].value = allInputs[i].id;
                    } else {
                        allInputs[i].value = user[id];
                    }
                }
            })
            const currForm = document.getElementById("editForm")
            currForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const collection = currForm.querySelectorAll("input")
                const data = {
                    roles: []
                };
                for (let i = 0; i <= collection.length; i++) {
                    const name = collection[i]?.name
                    if (name) {
                        if (name !== "role") {
                            data[name] = collection[i].value;
                        } else {
                            if (collection[i].checked) {
                                data["roles"] = [...data["roles"], collection[i].value]
                            }
                        }
                    }
                }
                fetch(`http://localhost:8080/admin/users/` + user.id, {
                    method: "PUT",
                    headers,
                    body: JSON.stringify(data),
                }).then(res => {
                    fetchAllUsers();
                })
            })
        }

        function deleteCurrentUser() {
            const user = JSON.parse(this.event.currentTarget.getAttribute("data-user"))
            const myModal = document.getElementById("deleteModalCenter");
            myModal.addEventListener("shown.bs.modal", function (event) {
                const allInputs = myModal.querySelectorAll("input");
                for (let i = 1; i < allInputs.length; i++) {
                    const id = allInputs[i].getAttribute("id");
                    if (id.includes("ROLE")) {
                        allInputs[i].value = allInputs[i].id;
                    } else {
                        allInputs[i].value = user[id];
                    }
                }
            })
            const currForm = document.getElementById("deleteForm")
            currForm.setAttribute("action", "/admin/" + user.id + "/delete");
        }
    </script>
</head>

<body class="bg-light" th:onload="fetchAllUsers()">
    <header th:replace="~{/fragments/header.html :: header}"></header>
    <main class="d-flex">
        <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    </main>
</body>

</html>