<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index Spring boot CRUD app</h1>
<div>
    <span>You can create a new account: 
        </br><a th:href="@{/new}">Tap to link</a>
    </span>
</div>
</br>
<div>
    <span>Or you can use your existing account:
        </br><a th:href="@{/login}">Tap to link</a>
    </span>
</div>
</body>
</html>